@import url('https://fonts.cdnfonts.com/css/minecraft-3');
                

* {
    font-family: 'Minecraft', sans-serif;
}
  
  .header-left a {
    text-decoration: none;
    color: white;
  }
  
  .header-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 3px solid;
    background-image: url(../assets/imgs/minecraft\ texturas\ classicas\ -\ 22.jpg);
  }

  #imagem_mine{
    border-bottom: solid black;
    border-top: solid black;
    border-left: solid black;
    border-right: solid black;
  }
  
  .header-left h1 {
    color: rgb(255, 255, 255);
  }
  
  .header-left img {
    margin-top: -50px;
  }
  
  .hello {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .hello h3 {
    color: #ffffff;
    font-weight: 300;
    font-size: 1.2rem;
  }
  
  .hello h3 span {
    font-weight: 800;
  }

  .btn-nav {
    width: 50%;
    height: 30px;
    color: white;
    background-color: rgb(51, 145, 67);
     border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
    padding: 2% 5%;
  }
  
  .btn-nav-white {
    width: 50%;
    height: 30px;
    background-color: rgb(51, 145, 67);;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
    padding: 2% 5%;
  }
  
  .btn-nav-white h3 {
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-size: 15px;
  }
  
  .btn-nav h3 {
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-size: 15px;
  }
  
  .btn-logout h3 {
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    font-size: 15px;
  }
  
  .btn-logout {
    margin: 0;
    padding: 0;
    width: 20%;
    color: rgb(51, 145, 67);
    background-color: rgb(51, 145, 67);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 100px;
    cursor: pointer;
    margin-top: 30px;
  }
  h2 {
    margin-left: 18%;
    text-align: center;
    border-bottom: solid black;
    border-top: solid black;
    background-color: rgb(51, 145, 67);
    padding-top: 30px;
    margin-top: -20px;
    padding-bottom: 20px;
    
  }

  .charts{
    display: flex;
    margin-left: 220px;
    justify-content: space-evenly;
  
  }

#myChart{
  display: flex;
  width: 100vw;
  height: 100vh;
  width: 100vh;
  height: 100vw;
}

#myChart2{
  display: flex;
  width: 50vw;
  height: 50vh;
  width: 50vh;
  height: 50vw;
}

.grafico_baixo{
  margin-left: 280px;

}

#myChart3{
  width: 10vw;
  height: 10vh;
  width: 10vh;
  height: 10vw;
}

#checkbox{
  display: flex;
  justify-content: space-evenly;
  border-color: rgb(51, 145, 67);
  margin-left: 300px;
}

#checkbox input{
  width: 30px;
  height: 100px;
}

button{
  margin-left: 700px;
  margin-top: 30px;
  background-color: rgb(27, 119, 42);
  width: 200px;
  height: 50px;
  border-radius: 15px;
  border-style: none;
}
