@import url('https://fonts.cdnfonts.com/css/minecraft-3');
                

* {
    font-family: 'Minecraft', sans-serif;
}

body {
  
    font-family: 'Poppins';
    background-size: 100%;
    background-color: #152325;
    align-items: center;
    overflow-x: hidden;
}

h1{
    color: #0aa70a;
}

.card {
    background-color: rgba(251, 251, 251, 0.689);
    width: 600px;
    height: auto;
    margin-left: 350px;
    margin-top: 100px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.197);
    padding-top: 20px;
    padding-bottom: 20px;
}

  
button{
    background-color: #10d110;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border-style: none;
}

input {
    border-style: none;
    width: 300px;
    height: 40px;
    border-radius: 10px;
}



#prox_pag2{
    margin-left: 900px;
    margin-top: 50px;
}


#voltar_pag1{
    margin-right: 400px;
    
    
}

#pag_ferramentas{
margin-top: -50px;
margin-left: 100px;
}

#pag1_ferramentas{
    margin-top: -50px;
    margin-left: 100px;
}